*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Ignore Rust target directory
rust_lib/target/

# Ignore IDE-specific files
.idea/

# Ignore build artifacts
*.rlib
*.rmeta
*.dylib
